.nav {
   padding: 20px;
   grid-area: nav;
   background-color: #457932;
}

.item {
   text-decoration: none;
   color: #fdfdfd;
}

a.activeLink {
   color: #ad0d0d;
   font-weight: bold;
   text-decoration: none;
}