.friendsImg {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid red;
}

.friendsBox {
   display: flex;
   gap: 20px;
}

.friendsElements {
   display: flex;
   flex-direction: column;
   align-items: center;
}